
.card {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: rgb(210, 144, 58);
    cursor: pointer;
    margin: 1rem;
    border-radius: 50px;
    line-height: 50px;
    text-align: center;
}

.card:hover {
    background-color: rgb(163, 144, 119);
}